*.bak
*.patch
*.diff
*.err

*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.tmp.html
*.dump

.DS_Store
._*
.cache
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
thumbs.db
*.iml

.hg
.svn
.CVS
.idea
node_modules/
jscoverage_lib/
bower_components/
dist/
